# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
*.egg-info/
dist/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Node
node_modules/
.next/
.expo/
dist/
build/

# Env files (keep .env.example e .env.production)
.env
.env.local
.env.*.local
.env.prod
nginx/certs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
